@font-face {
  font-family: "Cousine";
  font-style: normal;
  font-weight: 400;
  src:
    local("Cousine"),
    local("Cousine-Regular"),
    url(/font/cousine-v16-latin-regular.woff2) format("woff2"),
    url(/font/cousine-v16-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Cousine";
  font-style: normal;
  font-weight: 700;
  src:
    local("Cousine Medium"),
    local("Cousine-Medium"),
    url(/font/cousine-v16-latin-regular.woff2) format("woff2"),
    url(/font/cousine-v16-latin-regular.woff) format("woff");
}
