.tag {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  line-height: auto;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: text-top;
  //margin-right: 1px;
  //margin-bottom: 8px;
  //Rounded tag 
  &-round {
    border-radius: 15px;
  }
}

//Grouped tag
tag-group {
  font-size: 0px; //To remove spacing between tags
  vertical-align: text-top;
  display: inline-flex; 
}
tag-group > :not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
tag-group > :not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
