{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
  {{ define "main" }}
    <aside class="left">
    </aside>
    <main id="main">
      {{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
      <article>
        {{ $tagcolor := .Site.Params.params.color }}
        {{- /*

        {{ if .Params.Image }}
          <div class="image">
            <img src="{{ .Params.Image }}"> 
            </figure>
          </div>
        {{ end }}

        */ -}}

        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

        {{ partial "translate" . }}

        <div class="doc">
          {{ .Content }}
        </div>

        <row class="share">
        {{ if (ne ($.Param "share") false) }}
          {{ partial "share" . }}
        {{ end }}
        </row>

        <row class="space-between">
        <div class="tags">
          {{ partial "meta" . }}
        </div>

        <div class="pageedit">
          <kbd class="tag"> <a class="kbd" href="{{ .Site.Params.gitrepo }}/{{ .Site.Params.gitpath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}"
                                                        target="_blank" rel="noopener" alt="{{ i18n "pageedit"}}"><span>{{ i18n "pageedit" }}</span></a></kbd>
        </div>
        </row>

        <row class="discus">
        {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
          {{ template "_internal/disqus.html" . }}
        {{ end }}
        </row>

      </article>
    </main> 
    <aside class="right">
    </aside>
  {{ end }}
  {{- /* vim: set ts=2 sw=2 et: */}}
