summary.title {
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
    outline: none;
}

details[open] {
    background: light-green;
font-weight: normal;    /* the style goes here */
}
