/* page footer */
footer.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

footer>* {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
