html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;

grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";

height: 100vh;
}

header {
  grid-area: header;
}

aside.left {
  grid-area: left;
  margin-left: 0.5rem;
}

main {
  grid-area: main;
  display: flex;
  flex-flow: column;
}

aside.right {
  grid-area: right;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";

    grid-template-columns: 90%;
    grid-template-rows:
      auto /* Header */
      1fr /* Content */
      auto; /* Footer */
  }

  aside {
    margin: 0;
  }
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

@media (max-width: 768px) {
   .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  body {
    display: block;
  }
  .posts {
    grid-template-columns: 1fr;
  }
}
/*
.card:nth-of-type(1n+1){
    grid-column: span 1;
    grid-row: span 3;
}

.card:nth-of-type(1n+2) {
    grid-column: span 2;
    grid-row: span 1;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
    grid-column: span 2;
    grid-row: span 1;
}
*/
/* https://tobiasahlin.com/blog/common-flexbox-patterns/#masonry-or-mosaic */
.resources {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 3000px;
}

.resources div.sidebarblock {
  width: 32%;
/*   margin-bottom: 2%; (100-32*3)/2 */
}

/* Re-order items into rows 
 * can we do 2 rows for different media query? */
.resources div.sidebarblock:nth-child(3n+1) { order: 1; }
.resources div.sidebarblock:nth-child(3n+2) { order: 2; }
.resources div.sidebarblock:nth-child(3n)   { order: 3; }

/* Force new columns */
.resources::before,
.resources::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

@media (max-width: 768px) {
  .resources {
    display: block;
    height: auto;
  }
  .resources div.sidebarblock {
    width: 100%;
  }
}
