.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 2rem;
  height: auto;
}

.image {
  display: block;
  position: relative;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
