.space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.share, .tags {
  line-height: 1.5rem;
  flex-basis: content;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: .5rem;
}

.discus {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
