
.pagination {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

ul.pagination-list {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  font-weight: bold;
  font-size: 1.2em;
}

