  {{ $currentPage := . }}
  {{ range .Site.Menus.jula }}
             <div class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}{{ end }}">
               <span><a href="{{ .URL | relLangURL }}" class="">{{ .Name }}</a></span>
             </div>
  {{end}}{{/* range end */}}
