{{ if gt (len .Site.Home.AllTranslations) 1 }}
    <ul>
  {{ range .Site.Home.AllTranslations }}
    <li>
      {{ $tagcolor := .Site.Params.params.color }}
      <a class="navbar-item {{ $tagcolor }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
  {{ end }}
    </ul>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
