  {{ if .Params.tags }}
  {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}
    <div>
      <div class="tag background-blue">
      <span><img class="icon" src="/images/icons/carbon-tag.svg"></img>
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a></span>
      </div>
    </div>
  {{ end }}
  {{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
