{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "schema-dot-org" }}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Blog",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Site.Title 0 110 }},
  "url" : {{ printf "%s" .Permalink }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .Date.IsZero }}
  "dateModified": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- /* all of the site's categories/tags, from Hugo's tpl/template_embedded.go */}}
  "keywords": {{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}
  {{- with .Site.Params.description -}}
  ,
  "description": {{- . -}}
  {{- end }}
}
</script>

{{ end }}

{{ define "main" }}

  <aside class="left"></aside>


<main>
        {{ $paginator := .Paginate (where .Site.Pages "Type" "404") }} 
        {{ range $paginator.Pages }} 
        <article class="article">
        {{ $tagcolor := .Site.Params.params.colour }}
        <h1 class="title">{{ .Title}}</h1>

        {{ partial "translate" . }}

            <div class="doc">
              {{ .Content }}
            </div>
          {{ end }}

      </article>
  </main>
  <aside class="right"></aside>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

